.Card {
  display: inline-block;
  border-radius: 8px;
  padding: 35px 30px;
  background-color: var(--white);
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
  width: 390px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CardHeader {
  margin-bottom: 25px;
}

.Card .logo {
  margin-bottom: 25px;
}

.Card .title {
  font-size: var(--title-font-size);
  font-weight: bold;
  margin: 0;
}

.Card .subtitle {
  color: var(--subtitle-color);
  margin: 0;
  margin-top: 6px;
}



