:root {
  --background-color: #f6f7f8;
  --font-family: 'MarkPro', sans-serif;
}

@font-face {
  font-family: 'MarkPro';
  src: url('./fonts/Mark-Pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

body, button, input {
  font-family: var(--font-family);
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
